@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 32px;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.purple {
  color: #6415ff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.btn {
  background-color: #6415ff;
  color: #f7fafc;
  padding: 12px 24px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
}

/* Center */

.center__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center__h5,
.left__h5,
.right__h5 {
  font-weight: 700;
  text-transform: uppercase;
  color: #6415ff;
  margin-bottom: 16px;
  font-size: 16px;
}

.center__h2,
.left__h2,
.right__h2 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.center__para,
.left__para,
.right__para {
  font-size: 18px;
  color: #7c8ba1;
  margin-top: 16px;
  text-align: center;
}

/* Left Right */

.section__left,
.section__right {
  display: flex;
}

.left__section,
.right__section {
  width: 50%;
}

.left__section {
  margin-right: 64px;
  
}

.right__section {
  margin-left: 64px;
}

.left__h5,
.left__h2,
.left__para,
.right__h5,
.right__h2,
.right__para {
  text-align: left;
}

.figure__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 

NAVIGATION BAR

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  position: relative;
}

.treact__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  height: 44px;
  margin-right: 12px;
}

.treact {
  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
}

.nav__link--login {
  margin-left: 48px;
}

.nav__link--btn {
  color: #f7fafc;

}

.menu__btn {
  font-size: 24px;
  border: none;
  background-color: transparent;
  font-size: 100%;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #6415ff;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  border: 1px solid rgb(198, 203, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu__btn--close {
  position: absolute;
  top: 23px;
  right: 18px;
  font-size: 24px;
}

.menu__links {
  padding: 24px 0;
  margin: 24px 16px;
  font-size: 18px;
  font-weight: 700;
}

.menu__list {
  margin: 24px 0;
}

.menu__link--btn {
  color: #f7fafc;
  padding: 12px 32px;
  font-size: 18px;
}

/*

HEADER

*/

.header {
  display: flex;
  transition: all 300ms ease;
}

.header__left {
  width: 40%;
}

.header__img{
  width: 100%;
}

.header__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.header__para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
}

.two__column--input {
  position: relative;
}

.input {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border-radius: 50px;
  max-width: 448px;
  border: 1px solid rgb(198, 203, 211);
  color: #1a202c;
  transition: all 300ms ease;
}

input:hover {
  border-color: #1a202c;
}

.input--btn {
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.customer__para {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  margin-top: 80px;
}

.customer__logo--wrapper {
  padding-right: 128px;
}

.customer__logo {
  filter: invert(1);
  margin-top: 16px;
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 36px;
  }

  .header__para {
    font-size: 16px;
  }

  .input--btn {
    right: 30px;
  }

  .header__img {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .menu__btn {
    display: flex;
  }

  .nav__links {
    display: none;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__left {
    width: 100%;
  }

  .input--btn {
    right: 40px;
  }

  .customer__para {
    font-size: 14px;
  }

  .customer__logo--wrapper {
    padding-right: 0;
  }

  .header__img--wrapper {
    justify-content: center;
    width: 100%;
  }

  .header__img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .header__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__title {
    font-size: 30px;
  }

  .two__column--input {
    position: static;
  }

  .input--btn {
    width: 100%;
    max-width: 448px;
    position: static;
    margin-top: 32px;
    padding: 16px 0;
  }

  .customer__para {
    margin-top: 32px;
  }
}

/*

FEATURES

*/

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.service {
  width: calc(100% / 3.4);
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 32px 8px;
  margin: 0 16px;
}

.service__img--wrapper {
  border: 1px solid rgb(198, 203, 211);
  border-radius: 99px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__img {
  width: 24px;
  height: 24px;
}

.service__description {
  margin: 8px 0 0 16px;
  display: flex;
  flex-direction: column;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.service__para {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 2;
  /* max-width: 211px; */
  margin-top: 16px;
}

@media (max-width: 1024px) {
  .center__para {
    font-size: 16px;
    width: 100%;
    max-width: 576px;
  }

  .service {
    width: calc(100% / 2.3);
  }
}

@media (max-width: 768px) {
  .center__para {
    font-size: 14px;
  }

  .service {
    width: 100%;
  }

  .service__para {
    max-width: 254px;
  }
}

@media (max-width: 640px) {
  .center__h2 {
    font-size: 36px;
  }
}

/*

QUALITY WORK

*/

.left__para {
  line-height: 1.625;
}

.quality-work--btn {
  margin-top: 32px;
}

.quality-work__img {
  border: 1px solid rgb(198, 203, 211);
}

@media (max-width: 1024px) {
  .left__h2 {
    font-size: 36px;
  }

  .left__para {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .section__left {
    flex-direction: column-reverse;
    align-items: center;   
  }

  .left__section {
    margin: 64px auto 0 auto;
    width: 100%;
    max-width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left__h5,
  .left__h2,
  .left__para {
    text-align: center;
  }

  .left__para {
    font-size: 14px;
  }

  .figure__right {
    width: 100%;
    max-width: 448px;
  }
}

/*

STEPS

*/

.steps__container {
  margin-top: 48px;
}

.step {
  display: flex;
  justify-content: start;
  margin-top: 32px;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
}

.step__description {
  margin-left: 24px;
}

.step__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.step__para {
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  max-width: 320px;
  line-height: 2;
}

@media (max-width: 1024px) {
  .right__h2 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .section__right {
    flex-direction: column;
    align-items: center;   
  }
  
  .figure__left {
    width: 100%;
    max-width: 448px;
  }

  .right__section {
    margin: 64px auto 0 auto;
    width: 100%;
    max-width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right__h5,
  .right__h2 {
    text-align: center;
  }

  .step {
    margin-top: 32px;
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    margin: 12px 0 0 0;
  }

  .step__title,
  .step__para {
    text-align: center;
  }
}

/*

VALUES

*/

.values__left--para {
  margin-top: 32px;
}

.two__column--promise {
  display: flex;
}

.promises {
  margin: 32px 32px 0 0;
}

.promise {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.cash {
  background-color: rgb(159, 235, 200);
}

.case {
  background-color: rgb(248, 170, 170);
}

.promise__icon {
  padding: 8px;
  border-radius: 999px;
}

.promise__title {
  margin-left: 12px;
  font-weight: 700;
}

.promise__para {
  margin-top: 16px;
  color: #718096;
}

.values--btn {
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .two__column--promise {
    flex-direction: column;
  }

  .promises {
    width: 100%;
    max-width: 288px;
  }
}

@media (max-width: 768px) {
  .promise {
    justify-content: center;
  }

  .promise__para {
    text-align: center;
  }
}

/*

PRICING

*/


#pricing .center__para {
  width: 100%;
  max-width: 576px;
}

.plans {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan {
  margin: 64px 0;
  width: calc(100% / 3);
}

.plan__highlight,
.plan__header,
.plan__features,
.plan__action--btn {
  border: 1px solid #a0aec0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.625;
}

.plan__header,
.plan__features,
.plan__action--btn {
  padding: 32px 64px;
}

.plan__highlight {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  height: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.price {
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.duration {
  font-size: 16px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.feature {
  margin-top: 20px;
  color: #718096;
  font-weight: 500;
}

.plan__btn {
  font-size: 14px;
  padding: 16px 64px;
}

.green__btn {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__blue {
  margin: 0 32px;
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__blue .plan__highlight {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__blue .name,
.plan__blue .price,
.plan__blue .duration,
.plan__blue .main__feature, 
.plan__blue .feature {
  color: white;
}

.blue__btn {
  background-color: white;
  color: #6415ff;
}

.plan__red .plan__highlight {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.red__btn {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

@media (max-width: 1024px) {
  .plans {
    flex-direction: column;
    width: 100%;
  }
  .plan {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  #pricing .center__para {
    font-size: 14px;
  }
}

/*

TESTIMONAL

*/

#testimonials .right__para {
  margin: 24px 0 48px 0;
}

.fa-star {
  color: rgb(255, 190, 27);
}

.test__header {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
}

.test__para {
  margin: 16px 0 40px;
}

.customer__info--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer__info {
  display: flex;
  align-items: center;
}

.customer__img {
  width: 80px;
  height: 80px;
  border-radius: 999px;
}

.customer__text--container {
  margin-left: 24px;
}

.customer__name {
  font-size: 20px;
}

.customer__title {
  font-weight: 500;
  font-size: 16px;
  color: #718096;
  width: 100%;
}

.arrow {
  color: #6415ff;
  background-color: #eaedef;
  padding: 16px;
  border-radius: 999px;
  font-size: 16px;
}

.arrows {
  display: flex;
  align-items: center;
}

.fa-arrow-left {
  margin-right: 8px;
}

.fa-arrow-right {
  margin-left: 8px;
}

.divider {
  color: #eaedef;
}

@media (max-width: 1024px) {
  #testimonials .right__para {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #testimonials .right__para, 
  .test__ratings,
  .test__header,
  .test__para {
    text-align: center;
  }

  #testimonials .right__para {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .customer__info--container,
  .customer__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .customer__img,
  .customer__name {
    margin-bottom: 12px;
  }

  .customer__text--container {
   text-align: center;
    margin: 0;
  }

  .arrows {
    margin-top: 32px;
  }
}